.wrapper {
    margin-top: 5px;
    margin-bottom: 20 px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #111;
    transition: 0.3s background-color;
}

input:hover {
    background-color: #fafafa;
}


button.submit {
    padding: 10px;
    border: 1px solid #111;
    background-color: #3f51b5;
    color: #fff;
    font-weight: 600;
    width: 100%;
}

button.submit:hover {
    cursor: pointer;
    background-color: #5a67b3;
}

ul.errors > li {
    color: red;
}
